.header-container{
    height: 100%;
     width: 100vw; 
    background-color: #f9e0c59c;
    padding-top: 30px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.nav-header h1{
    font-size: 30px;
    font-weight: 700;
} 
.nav-button{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.nav-button a{
    text-decoration: none;
    color: black;
}
.header-banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header-banner h1{
    font-size: 40px;
    font-weight: 900;
    padding: 20px 0;
}
.header-banner p{
    padding: 20px 0;
    color: rgba(0, 0, 0, 0.542);
}
.button{
    padding: 14px 20px ;
    background-color: #eb9c09;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
}
.header-image{
    padding: 30px;
}
.header-image img{
   width: 80%;
   margin: 0 auto;
}
