/* main{
    height: 2000px;
} */
.feature-image{
    width: 60%;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 1em;
}
.feature-image img{
    width: 100%;
}
.features-container{
    display: flex;
    align-items: center;
    gap: 5%;
    width: 70%;
    margin: 0 auto;
    margin-top: 3em;
}
.feature-desc{
    width: 40%;
}
.feature-desc h1{
    font-size: 2em;
    line-height: 1.2em;
}
.feature-desc p{
    font-size: 0.8em;
    padding: 1.8em 0;
    opacity: 0.7;

}
.span1{
    opacity: 0.5;
}
.span2{
    color: #f4a106;
}
.features-love-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 4em;
    display: flex;
    gap: 3em;
    align-items: center;
    margin-bottom: 8em;
}
.feature-love-desc{
    width: 50%;
}
.feature-love-img{
    width: 50%;
    position: relative;
}
.feature-love-img img{
    width: 100%;
}
.feature-header{
    width: 90%;
}
.feature-header h1{
    padding-left: 0.5em;
    border-left: 0.12em solid #FF900E;
    font-size: 1.8em;
    margin-bottom: 0.5em;
}
.feature-header p{
    font-size: 0.8em;
    opacity: 0.7;
    margin-bottom: 2em;
}
.feature-title{
    width: 90%;
    padding: 0.7em;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.063);
    margin-bottom: 1.5em;
}
.feature-title h5{
    font-size: 1em;
    padding-bottom: 0.5em;
}
.feature-title p{
    font-size: 0.8em;
    opacity: 0.7;
}
.feature-button{
    position: absolute;
    bottom: -3em;
    left: -4em;
}
.feature-button button{
    padding: 2.5em 3em;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 0.4em;
}
.feature-button button h1{
    font-size: 2.8em;
}
.feature-button button p{
    font-size: 1.2em;
}
.facts-container{
    width: 80%;
    /* height: 500px; */
    margin: 0 auto;
    /* height: 800px; */
}
.facts-header{
    width: 50%;
}
.facts-header h1{
    font-size: 2em;
    padding-bottom: 0.5em;
}
.facts-header p{
    font-size: 0.8em;
    opacity: 0.7;
    padding-bottom: 4.5em;
}
.facts-card{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    border: 1.5px solid #ff8f0e70;
    border-radius: 0.5em;
    width: 13%;
    height: 8em;
    margin-bottom: 6em;
}
.card h1{
    font-size: 1.8em;
    padding: 0.18em 0;
}
.card h5{
    font-size: 0.8em;
    opacity: 0.6;
}
.sponsor-container{
    width: 80%;
    margin: 0 auto;
}
.sponsor-header{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
.sponsor-header h1{
    font-size: 2em;
}
.sponsor-header p{
    font-size: 0.8em;
    opacity: 0.7;
    text-align: center;
    padding: 1em 0;
}
.sponsor-img{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 4em;
}
.sponsor-img img{
    width: 12%;
}