@media only screen and (max-width:576px){
    .header-container{
        width: 100vw;
    }
    .nav-container{
        width: 100%;
        margin: 0 auto;
    }
    .nav-button{
        display: flex;
        justify-content: space-between;
        gap: 10px;     
    }
    
}