/* small screen  */

@media only screen and (max-width:576px){
    .header-container{
        width: 100vw;
    }
    .nav-header h1{
        font-size: 2em;
        text-align: center;
    }
    .nav-container{
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
    }
    .nav-button{
        display: flex;
        justify-content: space-between;
        gap: 10px;     
    }
    .header-desc{
        width: 90%;
        margin: 0 auto;
    }
    .features-container{
        flex-direction: column;
    }
    .feature-image{
        width: 100%;
    }
    .feature-desc{
        margin-top: 2em;
        width: 100%;
    }
    .features-love-container{
        flex-direction: column;
        width: 100%;
        margin: 2em 0;
    }
    .feature-love-desc{
        width: 80%;
    }
    .feature-header{
        width: 100%;
    }
    .feature-title{
        width: 100%;
    }
    .feature-love-img{
        width: 80%;
    }
    .feature-button{
        bottom: -2em;
        left: -3em;
    }
    .feature-button button{
        padding: 2em 2.5em;
    }
    .facts-header{
        width: 100%;
        margin-top: 5em;
        /* margin-bottom: 3em; */
    }
    .facts-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .card{
        width: 50%;
        margin-bottom: 2em;
    }
    .sponsor-header{
        width: 100%;
    }
    .sponsor-header h1{
        text-align: center;
    }
}










/* medium screen */
@media only screen and (min-width: 576px)and (max-width:768px){
    .header-container{
        width: 100vw;
    }
    .nav-header h1{
        font-size: 30px;
    }
    .nav-container{
        width: 80%;
        margin: 0 auto;
    }
    .nav-button{
        display: flex;
        justify-content: space-between;
        gap: 10px;    
    }
    .header-desc{
        width: 80%;
        margin: 0 auto;
    }
    .features-container{
        flex-direction: column;
    }
    .feature-image{
        width: 100%;
    }
    .feature-desc{
        margin-top: 2em;
        width: 100%;
    }
    .features-love-container{
        flex-direction: column;
    }
    .feature-love-desc{
        width: 100%;
    }
    .feature-love-img{
        width: 100%;
    }
    .facts-header{
        width: 70%;
    }
}














/* medium-large screen */
@media screen and (min-width:768px) and (max-width:1000px){
    .features-love-container{
        width: 90%;
        gap: 4em;
    }
    .feature-love-img{
        width: 60%;
    }

}